{% extends "base.html" %}
{% load static %}
{% block title %}Friends{% endblock title %}
{% block content %}

<div class="container h-full">
	<div class="row">
		{% for friend in friends %}
		<div class="col-6 mb-4">
			<div class="card p-2 flex-column">
				<div class="d-flex flex-row w-100 justify-content-between">
					<a href="#" class="d-flex flex-row w-100 justify-content-between text-white">
						<p>{{friend.username}}</p>
						<img class="rounded-circle" src="{{friend.profile_image.url}}" style="height: 10dvh; width: 10dvh;">
					</a>
				</div>
				<div class="w-50 d-flex flex-row justify-content-between">
					<button class="bg-transparent border-0 text-danger" type="button">
						<span class="material-icons">person_remove</span>
					</button>
					<button class="bg-transparent border-0 text-primary" type="button">
						<span class="material-icons">chat</span>
					</button>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>




{% endblock content %}