{% extends "base.html" %}
{% block title %}Password Change{% endblock title %}
{% block content %}

<div class="row me-0 mt-5 flex-row align-items-start justify-content-center h-full">
	<div class="col-md-5 col-9 col-lg-3 shadow p-3">
		<h1 class="display-4 mb-4 user-select-none text-center">Change Password</h1>
		<form method="post">
			{% csrf_token %}

			<div class="form-group mb-4">
			{{ form.old_password.label_tag }}
			{{ form.old_password }}
			{% if form.old_password.errors %}
				<div class="alert alert-danger alert-dismissible fade show ps-2 p-0 d-flex flex-row align-items-center justify-content-between" role="alert">
					<div>
					{% for error in form.old_password.errors %}
					<p class="mb-0">{{ error }}</p>
					{% endfor %}
					</div>
					<button type="button" class="close float-end bg-transparent border-0 fs-3 text-danger" data-dismiss="alert" aria-label="Close">&times;</button>
				</div>
			{% endif %}
			</div>


			<div class="form-group mb-4">
			{{ form.new_password1.label_tag }}
			{{ form.new_password1 }}
			</div>


			<div class="form-group mb-4">
			{{ form.new_password2.label_tag }}
			{{ form.new_password2 }}
			{% if form.new_password2.errors %}
				<div class="alert alert-danger alert-dismissible fade show ps-2 p-0 d-flex flex-row align-items-center justify-content-between" role="alert">
					<div>
					{% for error in form.new_password2.errors %}
					<p class="mb-0">{{ error }}</p>
					{% endfor %}
					</div>
					<button type="button" class="close float-end bg-transparent border-0 fs-3 text-danger" data-dismiss="alert" aria-label="Close">&times;</button>
				</div>
			{% endif %}
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary float-end mt-4 w-100 border-0">Update</button>
			</div>
		</form>
	</div>
</div>

{% endblock content %}
