{% extends "base.html" %}
{% block title %}Chat{% endblock title %}

{% block content %}
<style>
	textarea{
		outline: none;
		background-color: var(--bs-body-bg);
		resize: none;
	}
	div.h-80 {
		height: 88vh !important;
	}
	@media (max-width:768px) {
		div.h-80 {
			height: 84vh !important;
		}
	}
</style>
<div class="container-fluid h-full">
	<div class="row justify-content-center">
		<div class="col-12 col-md-12 col-lg-8">
			<div class="card h-80 shadow">
				<h5 class="card-header d-flex align-items-center justify-content-between user-select-none">
					<span>{{ to }}</span>
					<span data-toggle="tooltip" data-placement="left" title="Connecting..." class="material-icons" style="font-size: 1rem; cursor:default;">radio_button_checked</span>
				</h5>
				<div class="card-body user-select-none">

					<!-- msgs to be displayed here -->

				</div>
				<div class="d-flex align-items-between w-100 m-auto py-2 border-top" style="background-color: var(--bs-card-cap-bg);">
					<div class="w-75 d-flex align-items-center justify-content-evenly">
						<button class="btn" type="button">
							<span class="material-icons">attach_file</span>
						</button>
						<textarea name="input-msg" id="input-msg" class="w-75 rounded"></textarea>
					</div>
					<div class="d-flex align-items-center justify-content-evenly w-25">
						<button class="btn" type="button">
							<span class="material-icons">add_reaction</span>
						</button>
						<button id="send-msg-btn" class="btn" type="button">
							<span class="material-icons">send</span>
						</button>
					</div>
					<script>{% include 'snippets/chat.js' %}</script>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}