{% extends "base.html" %}
{% block title %}Chat{% endblock title %}

{% block content %}
<style>
	textarea{
		outline: none;
		background-color: var(--bs-body-bg);
		resize: none;
	}
	div.h-custom {
		height: 90vh !important;
	}
	@media (max-width:768px) {
		div.h-custom {
			height: 84vh !important;
		}
	}
</style>
<div class="container-fluid h-full">
	<div class="row">
		<div class="col-4 col-md-4 col-lg-2 pe-1">
			<div class="card h-custom shadow m-0">
				<h5 class="card-header text-center">
					Your Friends and Groups
				</h5>
				<ol class="card-body d-flex flex-column pt-1 pb-2 px-1 w-100 align-items-center justify-content-start list-group" style="overflow: scroll;">
					{% for friend in friends %}
						<li class="list-group-item d-flex flex-column flex-md-row flex-lg-row align-items-center justify-content-around border p-2 rounded mt-2 w-100" title="{{ friend }}">
							<img style="width: 3rem;" src="{{ friend.profile_image.url }}" class="rounded-circle" />
							<a href="{% url 'chat:chat' friend %}">
								<p class="lead small m-0">{{ friend }}</p>
							</a>
						</li>
					{% endfor%}
				</ol>
			</div>
		</div>


		<div class="col-8 col-md-8 col-lg-10 ps-1">
			<div class="card h-custom shadow m-0">
				<h5 class="card-header d-flex align-items-center justify-content-between user-select-none">
					<span>{{ to }}</span>
					<span data-toggle="tooltip" data-placement="left" title="Connecting..." class="material-icons" style="font-size: 1rem; cursor:default;">radio_button_checked</span>
				</h5>
				<div class="card-body">
					yaha par selected user aur logged-in user ka messages
				</div>
				<div class="d-flex align-items-between w-100 m-auto py-2 border-top card-tools" style="background-color: var(--bs-card-cap-bg);">
					<div class="w-75 d-flex align-items-center justify-content-evenly">
						<button class="btn" type="button">
							<span class="material-icons">attach_file</span>
						</button>
						<textarea name="input-msg" id="input-msg" class="w-75 rounded"></textarea>
					</div>
					<div class="d-flex align-items-center justify-content-evenly w-25">
						<button class="btn" type="button">
							<span class="material-icons">add_reaction</span>
						</button>
						<button id="send-msg-btn" class="btn" type="button">
							<span class="material-icons">send</span>
						</button>
					</div>
					<script></script>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}