{% load static %}
<style>
	.dropdown-toggle::after {
		display: none;
	}
</style>
<header class="p-3 shadow-lg mb-3 sticky-top z-3">
	<div class="bs5-container-fluid">
		<div class="row justify-content-between align-items-center">
			<div
				class="col-md-6 col-lg-6 col-12 d-flex flex-md-row flex-lg-row flex-row justify-content-between justify-content-md-start mb-md-0 mb-lg-0 mb-3">
				<a class="fs-4 me-md-5 me-lg-5 mb-md-0 mb-lg-0" href="/">ChatApp</a>
				<form class="col-8 col-md-6 col-lg-4" autocomplete="off" role="search" method="post">
					<div class="input-group">
						<input class="form-control" type="search" name="search" id="user_search"
							placeholder="Search User" aria-valuenow="(this.value)" />
						<div class="input-group-text user-select-none px-2">
							<span class="material-icons">search</span>
						</div>
					</div>
				</form>
				<div class="position-absolute d-none flex-column align-items-center justify-content-between z-3" style="width: 30dvh; translate: 14dvh 4.5dvh;">
					<div id="search_result"></div>
					<div id="pagination_controls" class="pagination-controls d-flex align-items-center justify-content-between user-select-none"></div>
				</div>
				<script>{% include 'snippets/search_user.js' %}</script>
			</div>


			<div
				class="col-md-4 col-lg-3 col-12 d-flex flex-row justify-content-between align-items-center user-select-none px-3">
				<button
					class="btn d-flex align-items-center switch-theme w-50 text-primary justify-content-start justify-content-lg-end justify-content-md-end ps-0">
					<span class="material-icons me-2">dark_mode</span>
					<span class="text-body-secondary fs-6">Dark</span>
				</button>
				<script>{% include 'snippets/change_theme.js' %}</script>
				{% if request.user.is_authenticated %}
				<div class="dropdown text-end">
					<a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
						data-bs-toggle="dropdown" aria-expanded="false">
						<img src="{{request.user.profile_image.url}}" alt="User Profile Image" width="40" height="40"
							class="rounded-circle" loading="lazy" />
					</a>
					<ul class="dropdown-menu text-small">
						<li>
							<a class="dropdown-item"
								href="{% url 'account:profile' request.user.username %}">Profile</a>
						</li>
						<li>
							<form class="dropdown-item text-danger" action="{% url 'account:logout' %}" method="post">
								{% csrf_token %}
								<button type="submit"
									class="dropdown-item text-danger d-flex align-items-center justify-content-between p-0">LogOut
									<span class="material-icons">logout<span>
								</button>
							</form>
						</li>
					</ul>
				</div>
			</div>
			{% else %}
			<div class="d-md-flex d-lg-flex d-none w-100 justify-content-md-end">
				<a href="{% url 'account:login' %}" class="me-lg-3">
					<button type="button" class="bg-transparent border-0 d-flex align-items-center text-success">Log In
						<span class="material-icons">login</span>
					</button>
				</a>
				<a href="{% url 'account:register' %}" class="">
					<button type="button" class="bg-transparent border-0 d-flex align-items-center text-warning">Sign Up
						<span class="material-icons">person_add</span>
					</button>
				</a>
			</div>
			<div class="d-lg-none d-md-none">
				<button class="d-flex link-body-emphasis dropdown-toggle border-0 bg-transparent"
					data-bs-toggle="dropdown" aria-expanded="true">
					<span class="material-icons">menu</span>
				</button>
				<ul class="dropdown-menu text-small shadow-lg">
					<li class="mb-1">
						<a class="dropdown-item" href="{% url 'account:login' %}">
							<button type="button"
								class="bg-transparent border-0 d-flex align-items-center text-success">Log In
								<span class="material-icons ms-1">login</span>
							</button>
						</a>
					</li>
					<li>
						<a class="dropdown-item" href="{% url 'account:register' %}">
							<button type="button"
								class="bg-transparent border-0 d-flex align-items-center text-warning">Sign
								Up
								<span class="material-icons ms-1">person_add</span>
							</button>
						</a>
					</li>
				</ul>
			</div>
			{% endif %}
		</div>
	</div>
</header>