{% load static %}
<style>
	.dropdown-toggle::after {
		display: none;
	}
</style>
<header class="p-3 shadow-lg mb-3 sticky-top z-3 bg-dark">
	<div class="bs5-container-fluid">
		<div class="row justify-content-between align-items-center">
			<div
				class="col-md-6 col-lg-6 col-12 d-flex flex-md-row flex-lg-row flex-row justify-content-between justify-content-md-start justify-content-lg-between mb-md-0 mb-lg-0 mb-3">
				<a class="fs-4 me-md-5 me-lg-5 mb-md-0 mb-lg-0" href="/">ChatApp</a>

				<form class="col-8 col-md-6 col-lg-4" role="search" method="post">
					<input type="hidden" name="csrfmiddlewaretoken"
						value="JoVTUkicChMTNBK92rIN4bvbQBAWztUEk12wWhH8WLQeEIg5Iovr2KFIjAHYRJ8o">
					<input type="search" name="search_user" id="search_user" class="form-control"
						placeholder="Search User">
				</form>
			</div>


			<div
				class="col-md-4 col-lg-3 col-12 d-flex flex-row justify-content-between align-items-center user-select-none px-3">
				<a class="d-flex align-items-center justify-content-md-end justify-content-lg-end switch-theme w-75">
					<span class="material-icons me-2">dark_mode</span>
					<span class="text-body-secondary fs-6">Dark</span>
				</a>
				<script>
					document.querySelector(".switch-theme").addEventListener("click", (e) => {
						let is_dark_theme = document.querySelector("html").getAttribute("data-bs-theme") === "dark";
						document.getElementsByTagName('html')[0].setAttribute("data-bs-theme", is_dark_theme ? "light" : "dark");

						document.querySelectorAll(".switch-theme > span")[1].innerText = is_dark_theme ? "Light" : "Dark";

						document.querySelectorAll(".switch-theme > span")[0].innerText = is_dark_theme ? "light_mode" : "dark_mode";

						document.querySelector("header").classList.remove(!is_dark_theme ? "bg-white" : "bg-dark");

						document.querySelector("header").classList.add(is_dark_theme ? "bg-white" : "bg-dark");
					});
				</script>
				{% if request.user.is_authenticated %}
				<div class="dropdown text-end">
					<a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
						data-bs-toggle="dropdown" aria-expanded="false">
						<img src="{{ request.user.profile_image.url }}" alt="User Profile Image" width="40" height="40"
							class="rounded-circle" />
					</a>
					<ul class="dropdown-menu text-small">
						<li>
							<a class="dropdown-item" href="{% url 'profile' request.user.username %}">Profile</a>
						</li>
						<li>
							<form class="dropdown-item text-danger" action="{% url 'logout' %}" method="post">
								{% csrf_token %}
								<button type="submit"
									class="dropdown-item text-danger d-flex align-items-center justify-content-between p-0">Log
									Out
									<span class="material-icons">logout<span>
								</button>
							</form>
						</li>
					</ul>
				</div>
			</div>
			{% else %}
			<div class="d-md-inline-flex d-lg-inline-flex d-none">
				<a href="{% url 'login' %}" class="me-4">
					<button type="button" class="bg-transparent border-0 d-flex align-items-center text-success">Log In
						<span class="material-icons">login</span>
					</button>
				</a>
				<a href="{% url 'register' %}" class="text-warning">
					<button type="button" class="bg-transparent border-0 d-flex align-items-center text-warning">Sign Up
						<span class="material-icons">person_add</span>
					</button>
				</a>
			</div>
			<div class="d-lg-none d-md-none">
				<button class="d-flex link-body-emphasis dropdown-toggle border-0 bg-transparent"
					data-bs-toggle="dropdown" aria-expanded="true">
					<span class="material-icons">menu</span>
				</button>
				<ul class="dropdown-menu text-small shadow-lg">
					<li class="mb-1">
						<a class="dropdown-item" href="{% url 'login' %}">
							<button type="button"
								class="bg-transparent border-0 d-flex align-items-center text-success">Log In
								<span class="material-icons ms-1">login</span>
							</button>
						</a>
					</li>
					<li>
						<a class="dropdown-item" href="{% url 'register' %}">
							<button type="button"
								class="bg-transparent border-0 d-flex align-items-center text-warning">Sign
								Up
								<span class="material-icons ms-1">person_add</span>
							</button>
						</a>
					</li>
				</ul>
			</div>
			{% endif %}
		</div>
</header>