{% load static %}
<header class="p-3 mb-3 border-bottom">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-between justify-content-lg-evenly">
			<a class="text-decoration-none fs-3" href="{% url 'home' %}">ChatApp</a>

			{% comment %} <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
				<li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li>
				<li><a href="#" class="nav-link px-2 link-body-emphasis">Inventory</a></li>
				<li><a href="#" class="nav-link px-2 link-body-emphasis">Customers</a></li>
				<li><a href="#" class="nav-link px-2 link-body-emphasis">Products</a></li>
			</ul> {% endcomment %}
			
			<form class="col-12 col-lg-auto w-25" role="search" method="post">
				{% csrf_token %}
				<input type="search" name="search_user" id="search_user" class="form-control" placeholder="Search User...">
			</form>

			<div class="dropdown text-end">
				<a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
					data-bs-toggle="dropdown" aria-expanded="false">
					<img src="{% static 'defaultpfi.jpg' %}" alt="User Profile Image" width="40" height="40" class="rounded-circle" />
				</a>
				<style>
					a.dropdown-toggle::after{
						display: none;
					}
				</style>
				<ul class="dropdown-menu text-small">
					<li><a class="dropdown-item" href="#">Profile</a></li>
					<li><a class="dropdown-item text-danger" href="#">Log Out</a></li>
				</ul>
			</div>
			
			
			
		</div>
	</div>
</header>