{% extends "base.html" %}
{% block title %}Profile{% endblock title %}
{% load static %}
{% block content %}

<link type="text/css" rel="stylesheet" href="{% static 'cropperjs/dist/cropper.min.css' %}">
<script src="{% static 'cropperjs/dist/cropper.min.js' %}"></script>

<div class="container h-full">
	<style>
		div.container {
			min-height: 100dvh;
		}
	</style>
	<div class="row mt-5 justify-content-center h-100">
		<div class="col-md-6 col-lg-4 col-12">
			<div class="d-flex justify-content-center justify-content-md-start">
				<div class="position-relative edit" style="width: 30dvh; height: 30dvh;">
					<img class="rounded-circle w-100 h-100 img_edit" src="{{ request.user.profile_image.url }}"
						alt="Profile Image" loading="lazy">
					<span
						class="material-icons text-dark position-absolute top-50 start-50 translate-middle p-2 rounded-circle span_edit">edit</span>
				</div>
				<script>
					$(document).ready(function (e) {
						$("span.span_edit").css("opacity", "0");
						$("div.edit").on("mouseenter", function (e) {
							$(this).children("img.img_edit").css({
								"opacity": "0.8",
								"transition": "opacity 200ms ease"
							});
							$(this).children("span.span_edit").css({
								"cursor": "pointer",
								"opacity": "1",
								"transition": "opacity 200ms ease"
							});
						});
						$("div.edit").on("mouseleave", function (e) {
							$(this).children("img.img_edit").css("opacity", "1");
							$(this).children("span.span_edit").css("opacity", "0");
						});
					});
				</script>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 col-10">
			<div class="h-100 w-100 d-md-flex d-lg-flex flex-column justify-content-center mt-3 mt-md-0 mt-lg-0">
				<form method="post" spellcheck="false" enctype="multipart/form-data">
					{% csrf_token %}
					<input class="d-none" type="file" name="profile_image" id="id_profile_image"
						onchange="readURL(this)" accept="image/*" />
					<div class="row">
						<div class="col">
							{{ form.first_name.label_tag }}
							{{ form.first_name }}
						</div>
						<div class="col">
							{{ form.last_name.label_tag }}
							{{ form.last_name }}
						</div>
					</div>
					<div class="form-group mt-3">
						{{ form.email.label_tag }}
						{{ form.email }}
						{% if form.email.errors %}
						<div class="alert alert-danger alert-dismissible fade show ps-2 p-0 d-flex flex-row align-items-center justify-content-between" role="alert">
							<div>
								{% for error in form.email.errors %}
								<p class="mb-0">{{ error }}</p>
								{% endfor %}
							</div>
							<button type="button" class="close float-end bg-transparent border-0 fs-3 text-danger" data-dismiss="alert" aria-label="Close">&times;</button>
						</div>
						{% endif %}
					</div>
				</form>
				<div class="mt-3">
					<a href="{% url 'profile' request.user.username %}" class="float-start">
						<button type="button" class="btn btn-danger">
							Back
						</button>
					</a>
					<a href="{% url 'edit-done' request.user.username %}" class="float-end test">
						<button type="button" class="btn btn-success">Save Changes</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>


<script>
	let x,y,w,h, imgStr;

	$("div.edit > span.span_edit").on("click", function () {
		$("input[type='file']").click();
		$(this).css("display", "none");
	});

	$("a.test").on("click", function (e) {
		sendToBackend();
	});

	function sendToBackend() {
		const img = isImgSizeValid(imgStr)
		var reqData = {
			"csrfmiddlewaretoken": "{{ csrf_token }}",
			"image": img,
			"x": x,
			"y": y,
			"w": w,
			"h": h
		};
		$.ajax({
			type: "POST",
			dataType: "json",
			url: "{% url 'edit-done' request.user.username %}",
			data: reqData,
			timeout: 3000,
			success: function (data) {
				console.log("Success : ",data);
			},
			error: function (data) {
				console.error(data);
			},
			complete: function (data) {
				console.log("Complete : ",data);
			}
		});
	}

	function isImgSizeValid(img) {
		var startIndex = img.indexOf("base64,") + 7;
		var base64Str = img.substr(startIndex);
		var decode = atob(base64Str);
		if (decode.length >= 10485760) {
			console.log("Image File Size Exceded, should not be greater than 10 MB");
			return null;
		}
		console.log(base64Str);
		return base64Str;

	}

	function readURL(input) {
		if (input.files && input.files[0]) {
			const reader = new FileReader();

			reader.onload = function (e) {
				let image = e.target.result;
				console.log(image);
				const imageField = document.getElementsByTagName("img")[1];
				imageField.src = image;
				const cropper = new Cropper(imageField, {
					aspectRatio: 1,
					autoCropArea: 1,
					background: false,
					cropstart() {
						$("span.point-se").css({
							"height":"5px",
							"width":"5px",
						});
					},
					crop(event) {
						console.log("x : ", event.detail.x);
						console.log("y : ", event.detail.y);
						console.log("w : ", event.detail.width);
						console.log("h : ", event.detail.height);
						imgStr = image;
						x = event.detail.x;
						y = event.detail.y;
						w = event.detail.width;
						h = event.detail.height;
					}
				});
			};
			reader.readAsDataURL(input.files[0]);
		}
	}
</script>


{% endblock content %}