{% extends "base.html" %}
{% block title %}Edit Profile{% endblock title %}
{% load static %}
{% block content %}

<link type="text/css" rel="stylesheet" href="{% static 'cropperjs/dist/cropper.min.css' %}">
<script src="{% static 'cropperjs/dist/cropper.min.js' %}"></script>

<div class="container h-full">
	<div class="row mt-5 justify-content-center h-100 shadow p-2">
		<div class="col-md-6 col-lg-4 col-12">
			<div class="d-flex justify-content-center justify-content-md-start">
				<div class="position-relative edit" style="width: 30dvh; height: 30dvh;">
					<img class="rounded-circle w-100 h-100 img_edit" src="{{ request.user.profile_image.url }}?{{ request.user.last_login|date:'U' }}"
						alt="Profile Image" loading="lazy" >
					<span
						class="material-icons text-primary position-absolute top-50 start-50 translate-middle p-2 rounded-circle span_edit">edit</span>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 col-10">
			<div class="h-100 w-100 d-md-flex d-lg-flex flex-column justify-content-center mt-3 mt-md-0 mt-lg-0">
				<form spellcheck="false" enctype="multipart/form-data" method="POST">
					{% csrf_token %}
					{{ form.profile_image }}
					<input type="hidden" name="x" id="id_x">
					<input type="hidden" name="y" id="id_y">
					<input type="hidden" name="s" id="id_s">
					<input type="hidden" name="image" id="id_image">
					<div class="row">
						<div class="col">
							{{ form.first_name.label_tag }}
							{{ form.first_name }}
						</div>
						<div class="col">
							{{ form.last_name.label_tag }}
							{{ form.last_name }}
						</div>
					</div>
					<div class="form-group mt-3">
						{{ form.email.label_tag }}
						{{ form.email }}
						{% if form.email.errors %}
						<div class="alert alert-danger alert-dismissible fade show ps-2 p-0 d-flex flex-row align-items-center justify-content-between"
							role="alert">
							<div>
								{% for error in form.email.errors %}
								<p class="mb-0">{{ error }}</p>
								{% endfor %}
							</div>
							<button type="button" class="close float-end bg-transparent border-0 fs-3 text-danger"
								data-dismiss="alert" aria-label="Close">&times;</button>
						</div>
						{% endif %}
					</div>
					<div class="mt-3">
						<a href="{% url 'account:profile' request.user.username %}" class="float-start">
							<button type="button" class="btn btn-danger">
								Back
							</button>
						</a>
						<button type="submit" class="btn btn-success float-end">Save Changes</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script>{% include 'account/snippets/edit-image.js' %}</script>

{% endblock content %}
