{% extends "base.html" %}
{% block title %}Profile{% endblock title %}
{% load static %}
{% block content %}

<div class="container h-full">
	<style>
		div.container {
			min-height: 100dvh;
		}
	</style>
	<div class="row mt-5 justify-content-center h-100 shadow p-2">
		<div class="col-md-6 col-lg-4 col-12">
			<div class="d-flex justify-content-center justify-content-md-start">
				<div style="width: 30dvh; height: 30dvh;">
					<img class="rounded-circle img_edit w-100 h-100" src="{{ user.profile_image.url }}"
						alt="Profile Image" loading="lazy">
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 col-10 text-center">
			<div class="h-100 w-100 d-md-flex d-lg-flex flex-column justify-content-center user-select-none">
				<div class="d-flex align-items-center justify-content-center mb-3">
					<p class="lead mt-2 mt-md-0 mb-0 mt-lg-0 w-100">
						{{ user.username }}
					</p>
					{% if user.id == request.user.id %}
					<a href="{% url 'account:edit' request.user.username %}" class="float-start">
						<span class="material-icons" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Profile">settings</span>
					</a>
					{% endif %}
				</div>
				<p>Unique User Id:
					<span class="text-info">{{ user.id }}</span>
				</p>
				<div class="row">
					<div class="col">
						<span class="form-control">{{ user.first_name }}</span>
					</div>
					<div class="col">
						<span class="form-control">{{ user.last_name }}</span>
					</div>
				</div>
				<div class="form-group mt-3">
					<span type="email" class="form-control">{{ user.email }}</span>
				</div>
				{% if user.id == request.user.id %}
				<div class="form-group mt-3">
					<a href="{% url 'friend:all' %}" class="float-start">
						<button type="button" class="btn btn-primary position-relative">My Friends
							<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-white text-primary">{{friends_count}}</span>
						</button>
					</a>
					<a href="{% url 'account:password_change' %}" class="float-end">
						<button type="button" class="btn btn-warning">Change Password</button>
					</a>
				</div>
				{% else %}
				<div class="form-group mt-3 d-flex justify-content-around">
					<button type="button" class="btn">
						<span class="material-icons" data-bs-toggle="tooltip" data-bs-placement="left" title="UnFriend {{user.username}}">person_remove</span>
					</button>
					<button type="button" class="btn">
						<span class="material-icons" data-bs-toggle="tooltip" data-bs-placement="right" title="Chat">chat</span>
					</button>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock content %}