{% extends "base.html" %}

{% block title %}
{% if user == request.user %}
Your Profile
{% else %}
Profile
{% endif %}
{% endblock title %}

{% load static %}
{% block content %}

<div class="container h-full">
	<div class="row mt-5 justify-content-center h-100 shadow p-2">
		<div class="col-md-6 col-lg-4 col-12">
			<div class="d-flex justify-content-center justify-content-md-start">
				<img class="rounded-circle img_edit" src="{{ user.profile_image.url }}" alt="{{user}} Profile Image" loading="lazy" style="width: 30vh;">
			</div>
		</div>
		<div class="col-md-6 col-lg-4 col-10 d-flex text-center">
			<div class="h-100 w-100 d-md-flex d-lg-flex flex-column justify-content-evenly user-select-none">
				<div class="d-flex align-items-center justify-content-center mb-3">
					<p class="lead mt-2 mt-md-0 mb-0 mt-lg-0 w-100 position-relative">
						<span class="tex-center">{{ user }}</span>
						{% if user.id == request.user.id %}
						<a href="{% url 'account:edit' request.user %}" class="float-end position-absolute top-0 end-0">
							<span class="material-icons" data-bs-toggle="tooltip" data-bs-placement="top"
								title="Edit Profile">settings</span>
						</a>
						{% endif %}
					</p>
				</div>
				<p>Unique User Id:
					<span class="text-info">{{ user.id }}</span>
				</p>
				<div class="row">
					<div class="col">
						<span class="form-control">{{ user.first_name }}</span>
					</div>
					<div class="col">
						<span class="form-control">{{ user.last_name }}</span>
					</div>
				</div>
				<div class="form-group mt-3">
					<span type="email" class="form-control">{{ user.email }}</span>
				</div>
				{% if user.id == request.user.id %}
				<div class="form-group mt-3">
					<a href="{% url 'friend:all' %}" class="float-start">
						<button type="button" class="btn btn-primary position-relative">My Friends
							<span
								class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-primary" style="background-color: var(--bs-body-bg);">{{friends_count}}</span>
						</button>
					</a>
					<a href="{% url 'account:password_change' %}" class="float-end">
						<button type="button" class="btn btn-warning">Change Password</button>
					</a>
				</div>
				{% else %}
				<div {% if is_friend %} 
					class="form-group mt-3 d-flex justify-content-around">
					<button id="unfriend-btn" class="btn text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom"
						title="Unfriend {{user.username}}">
						<span class="material-icons">person_remove</span>
					</button>
					<script>{% include 'friend/snippets/unfriend.js' %}</script>
					<button class="btn text-info" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Chat">
						<span class="material-icons">chat</span>
					</button>
					{% else %}
						{% if fr_from_you %}
						class="text-start shadow rounded">
						<button id="cancel-request-btn" class="btn" data-bs-toggle="tooltip" data-bs-placement="bottom"
							title="Pending Friend Request">
							<span class="material-icons">schedule</span>
						</button>
						<script>{% include 'friend/snippets/cancel.js' %}</script>
						{% else %}
							{% if fr_to_you %}
							class="form-group mt-3 d-flex justify-content-around">
							<button aria-valuetext="accept" id="fr-action-btn" class="btn text-success" data-bs-toggle="tooltip" data-bs-placement="left"
								title="Accept fr">
								<span aria-valuetext="accept" class="material-icons">check</span>
							</button>
							<button aria-valuetext="reject" id="fr-action-btn" class="btn text-danger" data-bs-toggle="tooltip" data-bs-placement="right"
								title="Reject fr">
								<span aria-valuetext="reject" class="material-icons">close</span>
							</button>
							<script>{% include 'friend/snippets/friend-action.js' %}</script>
							{% else %}
							class="text-start">
							<button id="addfriend-btn" class="btn text-success" data-bs-toggle="tooltip" data-bs-placement="right"
								title="Friend {{user.username}}">
								<span class="material-icons">person_add</span>
							</button>
							<script>{% include 'friend/snippets/accept.js' %}</script>
							{% endif %}
						{% endif %}
					{% endif %}
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock content %}