{% extends "base.html" %}
{% block title %}Profile{% endblock title %}
{% load static %}



<style type="text/css">
	.image-container {
		max-width: 250px;
		height: auto;
		position: relative;
	}

	.field-heading {
		color: #737373;
	}

	#id_confirm:hover {
		opacity: 0.3;
	}

	#id_cancel:hover {
		opacity: 0.3;
	}

	.material-icons:hover {
		cursor: pointer;
	}
</style>

<div class="container-fluid h-full">
	<div class="row justify-content-center">
		<div class="card profile-card">
			<div class="card-body">
				<div class="d-flex flex-column justify-content-center p-4">
					<div class="mb-2" id="id_image_crop_confirm">
						<span id="id_cancel" class="text-danger material-icons">cancel</span>
						<span id="id_confirm" class="text-success material-icons">check</span>
					</div>
					<div class="image-container" id="id_image_container">
						<img class="border border-dark rounded-circle img-fluid mx-auto profile-image"
							id="id_profile_image_display" src="{{ request.user.profile_image.url }}"
							alt="codingwithmitch logo">
						<div class="middle" id="id_middle_container">
							<div class="text material-icons display-2" id="id_text">edit</div>
						</div>
					</div>
					<form class="form-signin" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<input class="d-none" type="file" name="profile_image" id="id_profile_image"
							onchange="readURL(this)" accept="image/*">
						<h6 class="mt-4 field-heading">Username</h6>
						<input type="text" name="username" id="id_input_username" class="form-control"
							placeholder="Username" value="{{ request.user.username }}" required readonly="true"
							aria-readonly="true" aria-disabled="true">
						<h6 class="mt-4 field-heading">Email</h6>
						<input type="email" name="email" id="id_input_email" class="form-control"
							placeholder="Email address" value="{{ request.user.email }}" spellcheck="false">

						{% for field in form %}
						<p>
							{% for error in field.errors %}
						<p style="color: red">{{ error }}</p>
						{% endfor %}
						</p>
						{% endfor %}
						{% if form.non_field_errors %}
						<div style="color: red">
							<p>{{form.non_field_errors}}</p>
						</div>

						{% endif %}

						<div class="d-flex flex-column mt-4">
							<button class="mt-4 btn btn-primary flex-grow-1" type="submit">Save</button>
						</div>

					</form>

				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">

	var cropper, imgFile, base64ImgStr, cropX, cropY, cropW, cropH;



	enableImageOverlay();

	function readURL(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();

			reader.onload = function (e) {
				disableImageOverlay();
				var image = e.target.result;
				var imageField = document.getElementById('id_profile_image_display');
				imageField.src = image;
				cropper = new Cropper(imageField, {
					aspectRatio: 1 / 1,
					crop(event) {
						setImgCropProps(image, event.detail.x, event.detail.y, event.detail.width, event.detail.height);
					}
				});
			};

			reader.readAsDataURL(input.files[0]);
		}
	}

	function setImgCropProps(img, x, y, w, h) {
		imgFile = img;
		cropX = x;
		cropY = y;
		cropW = w;
		cropH = h;
	}

	function isImgSizeValid(img) {
		var startIndex = img.indexOf("base64,") + 7;
		var base64Str = img.substr(startIndex);
		var decode = atob(base64Str);
		if (decode.length >= "{{IMAGE_MAX_UPLOAD_SIZE}}") {
			return null;
		}
		return base64Str;
	}

	function cropImg(img, x, y, w, h) {
		base64ImgStr = isImgSizeValid(img);
		if (base64ImgStr != null) {
			var reqData = {
				"csrfmiddlewaretoken": "{{csrf_token}}",
				"image": base64ImgStr,
				"cropX": cropX,
				"cropY": cropY,
				"cropW": cropW,
				"cropH": cropH
			};
			displayLoadingSpinner(true);
			$.ajax({
				type: "POST",
				dataType: "json",
				url: "#",
				data: reqData,
				timeout: 3000,
				success: function (data) {
					if (data.result == "success") {
						window.location.reload(true);
					} else {
						alert(data.exception);
						window.location.reload(true);
					}
				},
				error: function (data) {
					console.error(data);
				},
				complete: function (data) {
					displayLoadingSpinner(false);
					window.location.reload(true);
				}
			});
		} else {
			alert("Upload Image Size Smaller than 10 MB");
		}
	}

	function enableImageOverlay() {
		var text = document.getElementById("id_text");
		text.style.backgroundColor = "transparent";
		text.style.color = "#585858";
		text.style.padding = "1rem";
		text.style.cursor = "pointer";
		text.style.borderRadius = "50%";

		var profileImage = document.getElementById("id_profile_image_display");
		profileImage.style.opacity = "1";
		profileImage.style.display = "block";
		profileImage.style.width = "100%";
		profileImage.style.height = "auto";
		profileImage.style.transition = "0.5s ease";
		profileImage.style.backfaceVisibility = "hidden";

		var middleContainer = document.getElementById("id_middle_container");
		middleContainer.style.transition = "0.5s ease";
		middleContainer.style.opacity = "0";
		middleContainer.style.position = "absolute";
		middleContainer.style.top = "50%";
		middleContainer.style.left = "50%";
		middleContainer.style.transform = "translate(-50%, -50%)";
		middleContainer.style.textAlign = "center";

		var imageContainer = document.getElementById("id_image_container");
		imageContainer.addEventListener("mouseover", function (event) {
			profileImage.style.opacity = "0.5";
			middleContainer.style.opacity = "1";
		})

		imageContainer.addEventListener("mouseout", function (event) {
			profileImage.style.opacity = "1";
			middleContainer.style.opacity = "0";
		})

		imageContainer.addEventListener("click", function (event) {
			document.getElementById('id_profile_image').click();
		});

		var cropConfirm = document.getElementById("id_image_crop_confirm");
		cropConfirm.classList.remove("d-flex");
		cropConfirm.classList.remove("flex-row");
		cropConfirm.classList.remove("justify-content-between");
		cropConfirm.classList.add("d-none");

	}

	function disableImageOverlay() {
		var profileImage = document.getElementById("id_profile_image_display");
		var middleContainer = document.getElementById("id_middle_container");
		var imageContainer = document.getElementById("id_image_container");
		var text = document.getElementById("id_text");

		imageContainer.removeEventListener("mouseover", function (event) {
			profileImage.style.opacity = "0.5";
			middleContainer.style.opacity = "1";
		})

		imageContainer.removeEventListener("mouseout", function (event) {
			profileImage.style.opacity = "1";
			middleContainer.style.opacity = "0";
		})

		profileImage.style.opacity = "1";
		middleContainer.style.opacity = "0";
		text.style.cursor = "default";
		text.style.opacity = "0";

		document.getElementById('id_image_container').removeEventListener("click", function (event) {
			event.preventDefault();
			// do nothing
		});
		document.getElementById('id_profile_image').addEventListener("click", function (event) {
			event.preventDefault();
			// do nothing
		});

		var cropConfirm = document.getElementById("id_image_crop_confirm");
		cropConfirm.classList.remove("d-none");
		cropConfirm.classList.add("d-flex");
		cropConfirm.classList.add("flex-row");
		cropConfirm.classList.add("justify-content-between");

		var confirm = document.getElementById("id_confirm")
		confirm.addEventListener("click", function (event) {
			cropImg(imgFile, cropX, cropY, cropW, cropH)
		})

		var cancel = document.getElementById("id_cancel")
		cancel.addEventListener("click", function (event) {
			window.location.reload();
		})
	}
</script>


{% block content %}

<link type="text/css" rel="stylesheet" href="{% static 'cropperjs/dist/cropper.min.css' %}">
<script src="{% static 'cropperjs/dist/cropper.min.js' %}"></script>

<div class="container h-full">
	<style>
		div.container {
			min-height: 100dvh;
		}
	</style>
	<div class="row mt-5 justify-content-center h-100">
		<div class="col-md-6 col-lg-4 col-12">
			<div class="d-flex justify-content-center justify-content-md-start">
				<div class="position-relative" style="width: 30dvh; height: 30dvh;">
					<img class="rounded-circle w-100 h-100" src="{{ request.user.profile_image.url }}"
						alt="Profile Image" loading="lazy">
					<span
						class="material-icons text-danger position-absolute top-50 start-50 translate-middle edit">edit</span>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 col-10 text-center">
			<div class="h-100 w-100 d-md-flex d-lg-flex flex-column justify-content-center">
				<p class="lead mt-2 mt-md-0 mt-lg-0">{{ request.user.username }}</p>
				<p>Unique User Id:
					<span class="text-info">{{ request.user.id }}</span>
				</p>
				<form method="post">
					{% csrf_token %}
					<input class="d-none" type="file" name="profile_image" id="id_profile_image" onchange="readURL(this)" accept="image/*">
					<div class="row">
						<div class="col">
							<input type="text" class="form-control" value="{{ request.user.first_name }}">
						</div>
						<div class="col">
							<input type="text" class="form-control" value="{{ request.user.last_name }}">
						</div>
					</div>
					<div class="form-group mt-3">
						<input type="email" class="form-control" value="{{ request.user.email }}" spellcheck="false" />
					</div>
				</form>
				<script>
					$(document).ready(function (e) {
						const btnComponent = `
						<div class="form-group mt-3">
							<button type="submit" class="btn btn-primary float-end border-0">Update</button>
						</div>
						`;
						const $form = $("form").eq(2);
						$form.find("input").on("change", function () {
							// console.log("Hello");
						});
					});
				</script>
			</div>
			<a href="#" class="float-start">
				<button type="button" class="btn btn-primary position-relative">My Friends
					<span
						class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-white text-primary">
						99
					</span>
				</button>
			</a>
			<a href="{% url 'password_change' %}" class="float-end">
				<button type="button" class="btn btn-warning">Change Password</button>
			</a>
		</div>
	</div>
</div>


<script>
	document.getElementsByClassName("edit")[0].onclick = (e) => {
		document.getElementById("id_profile_image").click();
	}
	function readURL(input) {
		if (input.files && input.files[0]) {
			const reader = new FileReader();

			reader.onload = function (e) {
				let image = e.target.result;
				const imageField = document.getElementsByTagName("img")[1];
				imageField.src = image;
				cropper = new Cropper(imageField, {
                            aspectRatio: 1,
                            viewMode: 1,
                            autoCropArea: 1,
					crop(event) {
						image, event.detail.x, event.detail.y, event.detail.width, event.detail.height
					}
				});
			};

			reader.readAsDataURL(input.files[0]);
		}
	}
</script>


{% endblock content %}