{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}

<div class="container-fluid h-100">
	<div class="row mt-5">
		<div class="col-12">
			<h1 class="blog-header-logo text-body-emphasis user-select-none text-center" href="#">This is a Chat App made with <span class="text-danger">&hearts;</span> by <span class="fw-light fst-italic">ZNA</span></h1>
		</div>
	</div>
	<div class="row mt-5">
		<div class="col-12">
			<h2 class="user-select-none text-center" href="#">Home Page</h2>
		</div>
	</div>
</div>

{% endblock content %}